.row-direction{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scrollable {
    overflow-y: auto;
    max-height: 610px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollable::-webkit-scrollbar {
    display: none;
}

.custom-link{
    color: #8c8c8e;
    text-decoration: none;
}

.custom-link:hover{
    color: #61dafb;
}

.skills-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.avatar {
    display: flex;
    justify-content: center;
}


